form {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
}
div {
    display: flex;
    justify-content: space-between;
}
label {
    font-size: 16px;
    line-height: 33px;
}
input {
    height: 24px;
    width: 300px;
    padding: 3px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}
button {
    width: 50px;
    height: 33px;
    border-radius: 4px;
    border: 2px solid #0D67FF;
    background-color: #1E90FF;
    color: #fff;
}
span {
    margin-left: 58px;
    font-size: 14px;
    color: #aaa;
}